.div{
    font-size: 50px;
    height: 150px;
    width: 150px;
    border: #ffba00 solid 3px;
    display: flex;
}
.main_div{
    margin-top: 10px;
    display: flex;
}
.circle{
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
}
.row {
    display: flex;

}
.column{
    display: flex;

}
.column_end{
    display: flex;

}
.row_end{
    display: flex;

  }
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}