.div{
    font-size: 50px;
    height: 150px;
    width: 150px;
    border: #ffba00 solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_div{
    margin-top: 10px;
    display: flex;
}
.circle{
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
}
.row{
    display: flex;
    justify-content: space-between;
}
.row.center{
    justify-content: center;

}
.row.last{
    flex-direction: row-reverse;
}
.left{
    width: 150px;
    text-align: center;
    margin-right: 21px;

}
.right {
    width: 150px;
    text-align: center;
}
.top_div{
    display: flex;
    font-size: 20px;
}